.title {
    position: absolute;
    top: 198px;
    width: 1320px!important;
    height: 172px!important;
    font-weight: 700!important;
    font-size: 72px!important;
    line-height: 86.4px!important;
    text-align: center!important;
    color: #ffffff!important;
}

.search {
    position: absolute;
    top: 398px;
}