.backimg {
    background-image: url(./img/Breadcrumbs.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.boxitem {
  width: 1920px;
  height: 200px;
  top: 86px;
  padding: 60px 300px 60px 300px;
  gap: 16px;
  background-color: #191F33CC;
}

.title {
font-size: 32px !important;
font-weight: 600 !important;
line-height: 40px !important;
text-align: center !important;
color: #FFFFFF !important;
padding: 0 0 8px 0;
}

.desc {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    opacity: 60%;
}

.desc > li {
padding: 5px;
}