.contain {
  position: absolute;
  width: 1320px !important;
  height: 1006px;
  top: 1482px;
  padding: 0px 0 100px 0;
  box-shadow: 0px -1px 0px 0px #ebeef7 inset;
}

.title {
  font-size: 40px !important;
  font-weight: 600 !important;
  line-height: 48px !important;
  text-align: center !important;
  color: #191f33 !important;
}

.booton {
  top: 800px;
  left: 720px;
}
