.box {
  width: 648px;
  height: 220px;
  position: absolute !important;
  overflow: visible !important;
}

.image {
  width: 220px !important;
  height: 220px !important;
}

.boxitem {
  width: 648px !important;
  height: 220px !important;
  position: absolute !important;
  top: 98px !important;
  left: 300px !important;
  gap: 21px !important;
  opacity: 0px !important;
  background-color: red !important;
}

.boxitem {
  width: 214px !important;
  height: 220px !important;
  top: 0px !important;
  left: 220px !important;
  background: linear-gradient(
    90deg,
    #fff8e0 0%,
    rgba(255, 248, 224, 0) 100%
  ) !important;
  border-left: 2px solid #ffbf00;
}

.contents {
  height: 196px !important;
  top: 24px !important;
  left: 220px !important;
  gap: 21px;
  opacity: 0px;
}

.header {
  margin: 0 auto !important;
  width: 380px !important;
  height: 60px !important;
  color: 12px !important;
}

.title {
  margin: 0;
  padding: 12px 24px 12px 24px !important;
}

.title > li {
  display: inline-block !important;
}

.title > li:first-child {
  justify-content: center;
  text-align: center;
  width: 85px;
  height: 24px;
  gap: 8px;
}

.categoty {
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #636a80;
}

.title > li:nth-child(2) {
  gap: 5px;
  border-radius: 100px;
  background-color: #ffe5e5;
}

.firstbg {
  border: none !important;
  padding: 4px 4px 4px 8px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  text-align: left !important;
  color: #992f2f !important;
}

.title > li:last-child {
  gap: 6px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #fff8e0;
}

.secondbg {
  padding: 5px 12px 5px 12px !important;
  border: none !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  text-align: left !important;
  color: #997300 !important;
}

.info {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #191f33;
  padding: 12px 24px 12px 24px !important;
}

.fact {
  padding: 12px 24px 12px 24px !important;
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.factdetail {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #767e94;
}

.footer {
  width: 428px;
  padding: 12px 24px 12px 24px !important;
  gap: 0px;
  border-radius: 0px 0px 12px 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0px;
  list-style-type: none;
  border-top: 1px solid #ebeef7;
  align-items: center;
}

.footer:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ff4f4f;
}
